.bodyContainer {
    display: flex;
    flex-direction: row;
}

#querySelectors{
    display: flex;
    flex-direction: column;
    width: 50%;
}

select {
    display: flex;
    flex-direction: column;
    /* width: 50%; */
}
select > * {
    width:
}

.gridContainer{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
.gridItem {
    border: 2px lightcoral;
}